<% layout('layout') %>
<h3>New Task</h3>
	<form action=<%= "/users/" + userId + "/tasks" %> method="POST">
		<div class="form-group">
			<label for="exampleInputName2">Name</label>
			<input type="text" class="form-control" id="exampleInputName2" placeholder="Name" name="task[name]">
		</div>
		<div class="form-group">
			<label for="exampleInputEmail2">Description</label>
			<textarea class="form-control" id="exampleInputEmail2" placeholder="Enter Description Here" name="task[description]"></textarea>
		</div>
		<div class="form-group">
			<label for="exampleInputEmail2">Price (In Dollars)</label>
			<input type="number" class="form-control" id="exampleInputEmail2" placeholder="Enter Price Here" name="task[price]">
		</div>
		<div class="form-group">
			<select name="task[serfId]">
			<% serfs.map((serf) => { %>
				<option><%= serf.first_name + " " + serf.last_name %></option>
			<% }) %>
			</select>
		</div>
		<button type="submit" class="btn btn-primary">Send invitation</button>
	</form>